main{
    font-family: 'Figtree', sans-serif;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;

}

.site-logo-link{
    width: min-content;
    height: min-content;

    margin-left: 3vh;
    margin-top: 3vh;

    justify-self: flex-start;
    align-self: flex-start
}

.site-logo{
    width: 3rem;
}

.capt-p{
    font-size: 1.7rem;
    font-weight: 800;

    width: 90%;

    text-align: center;
    color: #222;
}

.about-capt-p{
    width: 80%;

    font-size: 0.9rem;
    font-weight: 600;

    text-align: center;
    color: #222;
}

.links-cnt{
    display: flex;

    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 500px;
    
    border-radius: 1rem;

    margin: 1rem;
    background-color: rgb(1, 111, 160);
}

.links-cnt a{
        
    color: white;
    
    font-size: 0.85rem;
    text-align: center;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

.eula-info{
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.contact-link{
    margin-right: 3rem;
}

.more-info{
    margin-left: 3rem;
}